name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '16.x'
            - name: Configure Git
              run: |
                  git config user.name "GitHub Actions Bot"
                  git config user.email "<>"
            - name: Install
              run: npm install
            - name: Build & Deploy
              run: npm run deploy
